		html {
			display: block;
		}
		body {
			font-family: Arial;			
		}

		.content {		
			border-bottom: 1px #cecece solid;
			padding: 10px;
		}

		.content-title {
			font-weight: bold;
		}

		table.items {
			width: 100%;
			border: 1px #cecece solid;
			border-collapse: collapse;
		}

		table.items th, table.items td {
			border: 1px #cecece solid;	
			padding: 2px 10px 2px 10px;		
		}

		table.items th {
			background: #eeeeee;
		}

		.text-center {
			text-align: center;
		}
		
		
		.signature-container {
			width: 100%;
			display: block;
		}

		.signature {
			margin-top: 50px;
			margin-left: 50px;
			margin-right: 80px;
			display: inline-block;
		}

		.signee {
			display: block;
			width: 100%;
			padding: 5px 25% 5px 25%;
			border-bottom: 1px #212121 solid;
			text-align: center;
		}

		.signee-title {
			text-align: center;
			width: 100%;
			padding: 5px 25% 5px 25%;
			display: block;
		}

		.print-stamp {
			width: 100%;
			display: block;
			text-align: right;
		}

		.header {
			display: block;
			vertical-align: middle;

		}

		.container {
			display: block;
			width: 100%;
			border: 1px #cecece solid;				
		}

		.text-right {
			text-align: right;
		}

		.strong {
			font-weight: bold;
		}

		.underlined {
			padding-left: 10px;
			padding-right: 10px;
			border-bottom: 1px #cecece solid;
			width: 100%;
		}

		.right {
			float: right;
		}

		.cut {
			width: 100%;
			display: block;
			border-top: 1px dashed #cecece;
			height: 1px;
			margin-top: 40px;
			margin-bottom: 20px;
		}

		.remarks {
			font-size: 11px;
		}